.product-detail {
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    right: 0;
}

.product-detail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}

.product-detail-close:hover {
    cursor: pointer;
}